{{$notification_url := printf "%v/%v" .Admin.GetRouter.Prefix "!notifications"}}
<label class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton" data-url="{{$notification_url}}">
  <i class="material-icons">notifications</i>
</label>
