<div class="qor-form-container" data-slideout-type="mini">
  {{range $message := .Result.Messages}}
    <div class="notification">
      {{$message.MessageType}}

      <div class="title">
        {{$message.Title}}
      </div>

      <div class="body">
        {{$message.Body}}
      </div>
    </div>
  {{end}}
</div>
