{{$message := .Result}}
{{$context := .}}

<div class="qor-fieldset notification{{if $message.IsResolved}} resolved{{end}} {{$message.MessageType}}">
  <h4 class="qor-notifications__title">
    {{$message.Title}}
  </h4>

  <div class="qor-notifications__body">
    {{$message.Body}}
  </div>

  {{if $message.IsResolved}}
    <div class="qor-notifications__resolved">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" title="{{t "qor_admin.notification.resolved" "resolved"}}">
        <input type="checkbox" class="mdl-checkbox__input ignore-dirtyform" checked disabled>
        <span class="mdl-checkbox__label">{{t "qor_admin.notification.resolved" "resolved"}}</span>
      </label>
    </div>
  {{end}}

  <div class="qor-notifications__actions">
    {{range $action := $message.Actions $context}}
       {{if (and $action.URL (eq $action.Method "GET"))}}
         <a class="mdl-button mdl-button--colored qor-action-button qor-action-button--link" href="{{call $action.URL $message $context}}" target="_blank">
           {{t (printf "qor_notification.actions.%v" $action.Label) $action.Label}}
         </a>
       {{else}}
         <button  class="mdl-button mdl-button--colored mdl-js-button qor-action-button"
                  type="button"
                  data-url="{{if $action.URL}}{{call $action.URL $message $context}}{{else}}{{$context.Admin.GetRouter.Prefix}}/!notifications/{{primary_key_of $message}}/{{$action.ToParam}}{{end}}"
                  {{if not $action.Resource}}data-ajax-form="true" data-dataType="json" data-confirm="{{t "qor_admin.form.are_you_sure" "Are You Sure?"}}" data-method="{{$action.Method}}"{{end}}>
            {{t (printf "qor_notification.actions.%v" $action.Label) $action.Label}}
         </button>
       {{end}}
     {{end}}
  </div>
</div>
