{{$message := .Result}}

<div class="notification">
  {{$message.MessageType}}

  <div class="title">
    {{$message.Title}}
  </div>

  <div class="body">
    {{$message.Body}}
  </div>

  <div class="actions">
    {{range $action := $message.Actions .}}
       {{$action.Name}}
    {{end}}
  </div>
</div>
