{{stylesheet_tag "notifications"}}

<div class="qor-form-container" data-slideout-type="mini">
  {{range $message := .Result.Messages}}
    {{render "notifications/notification" $message}}
  {{end}}
</div>
